.full-container{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
}

.text{
    width: 20%;
}
css{
    display: flex;
    justify-content: center;
    width: 90%;
    flex-direction: row;

}
.csstext{
    flex: 1;
}
/*This is for grid.*/
body{
    margin: 40px;
}
h1{
    text-align: center;
}

.wrapperGrid{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.box{
    background-color: lightblue;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

/*This is for flexboxes.*/
.wrapperFlex{
    display: flex;
    padding: 20px 0;
}
.firstRow{
    justify-content: space-between;
}
.secondRow{
    justify-content: space-between;
}
.flex{
    background-color: lightblue;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    flex: 1;
}